img{
    height: 250px ;
    width: 350px;
}
img:hover{
    position: absolute;
    top: 30%;
    right: 0;
    left: 30%;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s; 
    opacity: 1;
    filter: blur(0px);
    height: 350px;
    width: 450px;
}
#zeng{
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  #zeng:hover{
    -webkit-filter: blur(0px);
    -webkit-transform:scale(1.5); 
    transform:scale(1.5);
  }
  #foto{
    float: left;
  }
  #vido{
    float: right;
  }